node_modules
vendor
docker-data
.git
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/build
tests
phpunit.xml
.editorconfig
.gitattributes
