@media (max-width: 768px){
  .content {
	padding: 40% 0 0;
	}
    a.fa.fa-angle-down {
   
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 20pt;
    transition: all 0.5s;
    }
}

@media (max-width: 603px){
#tf-home h1{
    margin-top: 20px;
    font-family: "AbrilFatface Regular", Cursive;
    color: #ffffff;
    text-transform: none;
    font-size: 25pt;
}
#tf-home p.lead{
    color: #ffffff;
    font-family: 'Arial Bold', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
#tf-home .navbar-brand{
    margin-left: 0px;
}
.funciona_titulo{
    font-size: 40pt;
    font-family: "AbrilFatface Regular", Cursive;
    color: #51a2e9;
    text-align: center;
    text-transform: none;

}
#tf-menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.79);
	}
#tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    /* margin-top: 200px; */
    transition: all 0.5s;
}
.xs-aluga{
    width: 150px;
    margin-top: 10px;
    margin-right: 20px;
}
.xs-espindola{
    width: 80px;
}

.footer-espindola{
width: 50px;
margin: 30px;
}

.footer-xs-aluga{
margin: 30px;
width: 100px;
}
.icon_list_new i{
    color: #fff;
    font-size: 40px !important; 
    text-align: center;
    float: initial;   
   
}
.icone_proposta{
    border:1px solid #ffffff;
    border-radius: 5px;
   
}
.icone_proposta i{
    color: #454745;
    font-size: 35px;
    margin: 10px;
    float: right;
    margin-top: 35px;
   
}
.icone_proposta a{
    font-size: 25px;
    margin-top:-10px;
}
.nome_acesso{
    color: #ffffff;
    font-family: serif;
    font-size: 27pt;
    margin-left: 0px;
    font-weight: initial;
}
.container_list p{
    text-align: center;
}
.container_list span{
    text-align: center;  
}
.icone_proposta i{
    color: #454745;
    font-size: 35px;
    margin: 10px;
    float: right;
    margin-top: 35px;
   
}
.icone_proposta a{
    font-size: 15px;
    margin-top:-10px;
}
.icone_proposta img {
    width: 24px;
    padding: 5px;
}
.container_list p {
    color: #474547;
    font-weight: bold;
    font-size: 10.5pt;
}
.icone_proposta img{
    width: 34px;
    padding: 5px;
}
.icon_list_new img {
    width: 34px;
    padding: 5px;
}
.icon_list_new button{
    font-size: 10pt; 
}
}

@media (max-width: 360px){
/*TOPO*/
#tf-home{

}
#tf-home .navbar-brand{
    margin-left: 0px;
}
#tf-home h1{
    font-family: "AbrilFatface Regular", Cursive;
    color: #ffffff;
    text-transform: none;
    font-size: 16pt !important;
    margin-top: 0px;

} 
#tf-home button{
    float: left;
    color: #ffffff;
    width: 190px;
    margin-left: 0px;
}   
#tf-home p.lead{
    color: #ffffff;
    font-family: 'Arial Bold', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    /* margin-top: 200px; */
    transition: all 0.5s;
}
/**/
.funciona_titulo{
    font-size: 40pt;
    font-family: "AbrilFatface Regular", Cursive;
    color: #51a2e9;
    text-align: center;
    text-transform: none;

}
.hover-bg .hover-text {
    padding: 22% 10%;
}
.xs-aluga{
    width: 120px;
    margin-top: 20px;
}
.xs-espindola{
    width: 80px;
}

.footer-espindola{
width: 50px;
margin: 30px;
}

.footer-xs-aluga{
margin: 30px;
width: 100px;
}

#footer-top{
    height: 100px;
}

#footer{
    height: 70px;
}
.nome_acesso{
    color: #ffffff;
    font-family: serif;
    font-size: 17pt;
    float: left;
    margin-left: -10px;
   
}
.main.style1 h2 {
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 1.5px;
    color: #ffffff;
    padding: 5px;

}
.icon_list_new i{
    color: #fff;
    font-size: 40px !important; 
    text-align: center;
    float: initial;   
   
}
.icone_proposta{
    border:1px solid #ffffff;
    border-radius: 5px;
   font-size: 10pt;
}
.icone_proposta i{
    color: #454745;
    font-size: 35px;
    margin: 10px;
    float: right;
    margin-top: 35px;
   
}
.icone_proposta a{
    font-size: 15px;
    margin-top:-10px;
}
.icone_proposta img {
    width: 24px;
    padding: 5px;
}
.container_list p {
    color: #474547;
    font-weight: bold;
    font-size: 10.5pt;
}
.icone_proposta img{
    width: 34px;
    padding: 5px;
}
.icon_list_new img {
    width: 34px;
    padding: 5px;
}
.icon_list_new button{
    font-size: 10pt; 
}
}/*FIM 360*/

@media (max-width: 320px){
/*TOPO*/

#tf-home .navbar-brand{
    margin-left: 0px;
}
#tf-home h1{
    font-family: "AbrilFatface Regular", Cursive;
    color: #ffffff;
    text-transform: none;
    font-size: 24pt;

} 
#tf-home button{
    float: left;
    color: #ffffff;
    width: 190px;
    margin-left: -25px;
}   
#tf-home p.lead{
    color: #ffffff;
    font-family: 'Arial Bold', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    /* margin-top: 200px; */
    transition: all 0.5s;
}
/**/
.funciona_titulo{
    font-size: 40pt;
    font-family: "AbrilFatface Regular", Cursive;
    color: #51a2e9;
    text-align: center;
    text-transform: none;

}
.hover-bg .hover-text {
    padding: 22% 10%;
}
.xs-aluga{
    width: 120px;
    margin-top: 20px;
}
.xs-espindola{
    width: 80px;
}

.footer-espindola{
width: 50px;
margin: 30px;
}

.footer-xs-aluga{
margin: 30px;
width: 100px;
}

#footer-top{
    height: 100px;
}
#footer-top img {
    float: left;
    margin-top: 60px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin-right: 5px;
}
#footer{
    height: 70px;
}
.nome_acesso{
    color: #ffffff;
    font-family: serif;
    font-size: 17pt;
    float: left;
    margin-left: -10px;
   
}
.main.style1 h2 {
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 1.5px;
    color: #ffffff;
    padding: 5px;

}
.icon_list_new i{
    color: #fff;
    font-size: 40px !important; 
    text-align: center;
    float: initial;   
   
}
.icone_proposta{
    border:1px solid #ffffff;
    border-radius: 5px;
   
}
.icone_proposta i{
    color: #454745;
    font-size: 35px;
    margin: 10px;
    float: right;
    margin-top: 35px;
   
}
.icone_proposta a{
    font-size: 25px;
    margin-top:-10px;
}
.container_list span {
    font-size: 10pt;
    float: left;
    margin-left: 7px;
    font-weight: lighter;
}
}/*FIM 320*/